.container {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  background-color: #222222;
  padding: 1em 0;
  /* width: fit-content; */
  overflow: hidden;
  // gap: 1em;
  border-radius: 1em;
  overflow-y: auto; /* width: 20vw; */
}

.current-dir {
  border: 0;
  padding: 0;
  margin: 0;
  // height: 1.5em;
  text-align: left;
  color: #d4d4d4;
  width: 100%;
  overflow-x: hidden;

  .next-dir {
  }
}

/* 
::-webkit-scrollbar {
  display: none;
} */

.file-items {
  margin: 0.5em;
}
