.directory-path {
  display: grid;
  margin: 0;
}

.directory-list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  gap: 0.5rem;

  box-sizing: inherit;
  min-width: 100%;
  overflow: scroll;

  color: #f6f6f6;
}

.collapsible {
  box-sizing: inherit;

  color: #f6f6f6;
}

.button {
  flex-shrink: 0;
  display: block;
  background-color: transparent;
  border: none;

  color: #f6f6f6;
  /* box-sizing: inherit; */

  text-align: left;
  font-size: 1rem;
  width: 100%;
  overflow-y: hidden;
}

.ellipsis-div {
  white-space: nowrap;
  box-sizing: inherit;
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;

  color: #f6f6f6;
}

.trigger-icon {
  margin-right: 0.5rem;
  transition: transform 200ms ease-out;

  color: #f6f6f6;
}

.button[data-expanded] .trigger-icon {
  transform: rotateZ(90deg);
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.folder-content {
  padding-left: 1rem;
  padding-top: 5px;

  color: #f6f6f6;
}
