.button {
  border: none;
  background: none;
  margin: 0;
  padding: 1;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: rgb(154, 198, 255);
}

.breadcrumbs__list {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
  width: max-content;
}
